---
import Layout from '../layouts/Layout.astro';
import Tab1 from '../tabs/Tab1.svelte';
import Tab2 from '../tabs/Tab2.svelte';
import Tab3 from '../tabs/Tab3.svelte';
//import Card from '../components/Card.astro';
import Viewer from  '../components/Viewer.astro';
import TabList from '../components/TabList.svelte';
---

<Layout title="Welcome to Astro.">
    <main>
        <TabList client:load />
        <Tab1 client:load />
        <Tab2 client:load />
        <Tab3 client:load />
        <Viewer/>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
</style>
